In [1]:
import pandas as pd

# Create a dataframe
df = pd.DataFrame({'A': [1, 2, 3, 1, 4, 5], 'B': [3, 4, 5, 3, 6, 7]})

A  B
1  3    (1, 3)
2  4    (2, 4)
3  5    (3, 5)
4  6    (4, 6)
5  7    (5, 7)
Name: group_size, dtype: object

In [3]:
df

   A  B
0  1  3
1  2  4
2  3  5
3  1  3
4  4  6
5  5  7

In [6]:

# Group the dataframe by the 'A' column
grouped_df = df.groupby('A')

# Get the value counts for each group
value_counts = grouped_df['B'].value_counts()

value_counts

A  B
1  3    2
2  4    1
3  5    1
4  6    1
5  7    1
Name: count, dtype: int64

In [4]:
# Get the group size for each group
group_size = value_counts.index.to_series().rename('group_size')

# Print the group size
print(group_size)

A  B
1  3    (1, 3)
2  4    (2, 4)
3  5    (3, 5)
4  6    (4, 6)
5  7    (5, 7)
Name: group_size, dtype: object