In [7]:
# https://stackoverflow.com/questions/51117503/python-3-7-failed-building-wheel-for-mysql-python

#!pip install mysql

In [4]:

from mysql.connector import connect, Error
import pandas as pd

ModuleNotFoundError: No module named 'mysql'

In [19]:
import sqlite3

myconn = sqlite3.connect('test.db')

In [9]:
myconn.execute(
    "CREATE TABLE dogs (" +

"dogid integer," +

"name text, " +

"age integer, " +

"PRIMARY KEY (dogid) )" );

In [13]:
myconn.commit()

In [20]:
sql_query = """SELECT name FROM sqlite_master  WHERE type='table';"""
cursor = myconn.cursor()
cursor.execute(sql_query)
print(cursor.fetchall())

[('dogs',)]

In [17]:
insert_sql = """INSERT INTO dogs
VALUES
(100,'Fido',20),
(153,'Rex',12),
(106,'Max',9),
(51,'Fubar',3)"""

myconn.execute(insert_sql);
myconn.commit()

In [21]:
sql_query = """SELECT * FROM dogs;"""
cursor = myconn.cursor()
cursor.execute(sql_query)
print(cursor.fetchall())

[(51, 'Fubar', 3), (100, 'Fido', 20), (106, 'Max', 9), (153, 'Rex', 12)]